.footer{
    margin: 50px 170px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-bottom: 50px;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer-github{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323B;
    padding-right: 80px;
}

.footer-linkedin{
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #0077B5;
    padding-right: 80px;
}

.footer-github:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.footer-linkedin:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

@media(max-width:768px){
    .footer{
        margin: 50px 70px;
    }

    .footer-github{
        padding: 10px 20px;
        border-radius: 40px;
        gap: 10px;
    }

    .footer-linkedin{
        padding: 10px 20px;
        border-radius: 40px;
        gap: 10px;
    }

    .footer h2{
        font-size: 16px;
    }
}